div {
  margin-bottom: 20px;
}

button[type="submit"], button[type="reset"] {
  border-radius: 10px;
}

form {
  background-color: #29d854;
}

#fullname, #address, #phone, #type, #model, #serial, #year, #reading, #photo {
  background-color: #6c8974;
}


div p {
  color: red;
}
