html, body {
  height: 100%;
}



input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  flex: 1; /* растягиваем поля по вертикали */
}


button[type="submit"],
button[type="reset"] {
  padding: 10px;
  margin: 0; /* убираем отступы */
  border-radius: 5px;
  border: none;
  background-color: #5B8E7D;
  color: white;
  outline: 2px solid #1a4341;
}

button[type="submit"] {
  margin-right: 5px; /* добавляем отступ между кнопками */
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  flex: 1;
}

#error {
  color: red;
  margin-top: 10px;
}
