html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, #99c2a2, #1a4341);
  border-radius: 10px;
  height: 100%;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  flex: 1; /* растягиваем поля по вертикали */
}


button[type="submit"],
button[type="reset"] {
  padding: 10px;
  margin: 0; /* убираем отступы */
  border-radius: 5px;
  border: none;
  background-color: #5B8E7D;
  color: white;
  outline: 2px solid #1a4341;
}

button[type="submit"] {
  margin-right: 5px; /* добавляем отступ между кнопками */
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  flex: 1;
}

#error {
  color: red;
  margin-top: 10px;
}
